<div class="container">
  <h1>ציוני מבחן בחשבון כיתה א3</h1>
  <div class="controls">
    <div class="average-box">
      <p>ממוצע ציונים: {{ getAverageGrade() | number:'1.0-2' }}</p>
    </div>
  </div>
  <app-student-form
    (studentAdded)="onStudentAdded($event)"
    [studentExists]="studentExists">
  </app-student-form>
  <app-student-list
    [students]="students"
    (studentDeleted)="deleteStudent($event)"
    (studentRestored)="restoreStudent($event)"
    (gradesSorted)="sortGrades()">
  </app-student-list>
</div>
